<h2>会員情報登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

   <div class="field">
    <th>名前</th>
    <td class="sign-up-small-cell">(姓)</td>
    <td><%= f.text_field :last_name, autofocus: true %></td>
    <td class="sign-up-small-cell">(名)</td>
    <td><%= f.text_field :first_name, autofocus: true %></td>
   </div>
            
   <div class="field">
    <th>フリガナ</th>
    <td class="sign-up-small-cell">(セイ)</td>
    <td><%= f.text_field :last_name_kana, autofocus: true %></td>
    <td class="sign-up-small-cell">(メイ)</td>
    <td><%= f.text_field :first_name_kana, autofocus: true %></td>
   </div>
  
   <div class="field">
    <th>所属(病院名)</th>
    <td class="sign-up-small-cell"></td>
    <td><%= f.text_field :affiliation, autofocus: true, autocomplete: "affiliation"%></td>
   </div>
  
   <div class="field">
    <th>メールアドレス</th>
    <td class="sign-up-small-cell"></td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email"%></td>
   </div>
   
   <div class="field">
    <th>会員番号</th>
    <td class="sign-up-small-cell"></td>
    <td><%= f.text_field :namber, autofocus: true, autocomplete: "namber"%></td>
   </div>
  
   <div class="field">
    <th>パスワード（６文字以上）</th>
    <td class="sign-up-small-cell"></td>
    <% if @minimum_password_length %>
    <td>(<%= @minimum_password_length %> characters minimum)</td>
    <% end %>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
   </div>
   
   <div class="field">
    <th>パスワード（確認用）</th>
    <td class="sign-up-small-cell"></td>
    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
   </div>
    
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
